{% use "bootstrap_5_layout.html.twig" %}

{%- block external_key_widget -%}

    <div class="d-flex">

        <div class="flex-grow-1">
            {{ form_widget(form) }}
        </div>

        {% if allow_target_creation %}
            <button class="btn btn-secondary ms-2">+</button>
        {% endif %}
    </div>

{%- endblock external_key_widget -%}