{% extends "DI/base.html.twig" %}

{% block title %}
    Configuration Edition
{% endblock %}

{% block actions %}

{% endblock %}

{% block body %}

    <div>
        {% form_theme form 'DI/form/configuration_theme.html.twig' %}
        {{ form(form) }}
    </div>

{% endblock %}