/* body */
body{
	font-family: 'Montserrat', serif;
	padding-top: 64px;
}

/* app icon dark */
body[data-bs-theme="dark"] .app_icon{
	filter: invert(1);
}

/* navbar actions */
.navbar-actions button,.navbar-actions a{
	margin: 0 3px;
}

/* dropdown */
.dropdown_scroll_300{
	max-height: 300px;
	overflow-y: auto;
	overflow-x: clip;
}

/* LAYOUT */

/* row */
[data-block="row_container"] > div{
	display: flex;
}

/* column */
[data-block="column_container"]{
	padding: 10px;
	flex-grow: 1;
	width: 0;
}

/* fieldset */
[data-block="fieldset_container"]{
	flex-grow: 1;
}
[data-block="fieldset_container"] > legend{
	font-weight: bold;
	border-bottom: 2px solid #b7b7b7;
	margin-bottom: 10px;
}
[data-block="fieldset_container"] > div{
	border: #b7b7b7 dashed 1px;
	padding: 10px;
	border-radius: 10px;
}

/* ATTRIBUTES */

/* attribute */
[data-block="attribute_container"].loading{
	position: relative;
}
[data-block="attribute_container"].loading:after{
	content: 'loading...';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #0d6efd11;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

/* FORM */

/* form */
form{
	border-radius: 10px;
	padding: 5px;
}

/* label */
form label.required:after{
	content: ' *';
	color: red;
}
form label.locked:after{
	content: "\f023";
	font-family: "Font Awesome 5 Free", serif;
	font-weight: 600;
	margin-left: 8px;
	color: #ffcc00;
	font-size: .7rem;
}
form label.dependent{
	color: #2757af;
}


/* overriding theme template */

.overriding_text_row{
	border: 1px solid #00aac1;
	padding: 15px;
}

.overriding_text_label{
	color: #00aac1;
}

.overriding_text_widget{
	border: 1px solid #00aac1;
	border-radius: 20px;
	outline: none;
}